LUBELOGGER_URL=http://lubelogger:8080
#LUBELOGGER_URL=https://webhook.site/08b3419c-f7a8-479e-bdc1-cf28600f031c
LLM_API_KEY=
LLM_BASE_URL=
AUTH0_DOMAIN=
AUTH0_API_AUDIENCE=
AUTH0_ISSUER=
AUTH0_ALGORITHMS=RS256